

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'Titillium Web', sans-serif;
    font-family: "gilroy-extrabold-webfont";
    font-family: "glyphicons-halflings-regular";
    src: url(../fonts/gilroy-extrabold-webfont.ttf) format("truetype");
    
}

body {
	font-family: "gilroy-extrabold-webfont", Helvetica, Arial, sans-serif;
}

.thumbnail {
    border: 0;
    box-shadow: none;
}

.thumbnail .caption {
    border-radius: 6px;
    color: white;
    background-color: cadetblue;
    padding: 9px 15px;
}

.mynav {
    display: none;
}
/* .mynav {
    display: inline;

} */


.navbar {
    background: rgba(40,40,40,0.5);
    color: white;
}

.navbar-brand {
    margin-top: 0;
    color: white;
    font-size: 26px;
    margin-left: 100px;
}

#navbarNav {
    margin-right: 40px;
    display: inline;
}

.navbar-nav>li>a {
    transition: all 0.4s;
    color: white;
    font-weight: bold;
    line-height: 2.5;
    text-transform: uppercase;
    font-family: "Titillium Web";
}

.navbar-nav .active>.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show,  .navbar-nav .show>.nav-link, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    /* background:#3e2c0a; */
    color:white;
    text-shadow:none;
}

.card-title {
    font-size: 20px;
}

.mycard {
    background-color: red;
    color: white;
    width: 100%;
}

hr {
    width: 90%;
    background-color: white;
    align-self: center;
}

.vidContain {
    min-width: 100%; 
    height: 100vh;
    position: relative;
    display: inline-block;
    /* margin:10px; */
}
.vid {
    position: absolute; 
    top: 0; 
    left: 0;
    min-width: 100%; 
    z-index: -1;
}    


.boissons {
    background-color: #e20613;
}

div.boissons {
    width: 100%;
    padding-top: 40px;
    
}

.btn.selection {
    border-radius: 30%;
    width: 150px;
    text-transform: uppercase;
    border: 0;
}

div#choix {
    background-color: #d2d0c3;
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 40px;
}

footer {
    background-color: #464646;
}

#footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#footer h2 {
    color: white;
}


.center {
    position:relative;
    z-index:1;
    color:white;
    padding-top: 200px;
}
.bottom {
    color:white;
}
.center .slogan {
    font-size:26px;
    text-transform:uppercase;
}

.titre {
    font-size:50px;
    color:white;
    display:inline-block;
    padding:0px 18px;
}


.subtitle h2 {
    display:inline-block;
    color:white;
    font-size:100px;
    padding:0px 15px;
    font-family: 'Titillium Web', sans-serif;
}
.bottom {
    text-align:center;
    width:100%;
    position:absolute;
    bottom:30px;
}
.bottom a {
    font-size:36px;
    color:whitesmoke;
    position:relative;
    top:-5px;
}

.inner {
    position: relative;
    padding-top:100px;
    padding-bottom:100px;
}

.donnees .col-wrapper {
    padding:0 10px;
}
.donnees .icon-wrapper {
    position:relative;
    height:80px;
    margin-top: 40px;
}

.light-wrapper {
    background:#ffffff;
}
.inner {
    padding-top:100px;
    padding-bottom:100px;
}







